* {
    margin: 0px;

}

body {
    font-family: Ubuntu, Helvetica, sans-serif;
    background: hsl(165, 36%, 96%);
}


/*Header*/
.cabecera {
    background-color: #f5faf9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 8vh;

}

.cabecera .font {
    color: #f5faf9;
    font-size: 1.5vw;
    font-weight: bold;
}

.logo {
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
}

.log-imagen {
    width: 12vw;
    height: 9.5vh;

}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-right: 0px;
    height: 10vh;
    width: 20vw;
}

.sub-navegacion {
    font-size: 1.2vw;
    color: #014d23;
    cursor: pointer;
}

.sub-navegacion:hover {
    color: #03A66A;
    border-bottom: 2px solid #03A66A;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador-input {
    position: relative;
    height: 2.5vh;
    border-radius: 7px;
    border: none;
    width: 15vw;
}

.buscador-boton {
    position: absolute;
    left: 74%;
    width: 2.0vw;
    height: 2.6vh;
    border: none;

}

.buscador-boton-imagen {
    width: 2vw;
    height: 2.6vh;
    margin: 0px -5px;
    background: rgba(255, 255, 255, 0);

}

.favoritos-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-right: 0px;
    padding-right: 3vw;
}

.carrito-imagen {
    height: 3vh;
    width: 2vw;
    cursor: pointer;
}

.carrito-imagen:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.favoritos {
    width: 2vw;
    height: 2.8vh;
    cursor: pointer;
}

.favoritos:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}




/*-------------------------------------Header---------------------------------------*/
/*-------------------------------------BANER----------------------------------------*/


.banner {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    position: relative;

}

.texto-banner {
    color: #f5faf9;
    position: absolute;
    font-size: 2cqw;
    top: 18%;
    left: 10%;
}

.texto-banner h2 {

    margin-bottom: 1rem;
}

.texto-verde {

    font-size: 1.7vw;
    color: #03A66A;
}

.texto-blanco {
    color: #f5faf9;
    font-size: 1.5vw;
}





/*-------------------------------------BANER----------------------------------------*/

.categorias {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
}

.sub_categorias {
    width: 60vw;

}

.boton-categoria {
    background-color: #f7fefc;
    color: #014d23;
    border: none;
    border-radius: 15px;
    padding: 0.5% 1%;
    font-size: 1vw;
    cursor: pointer;
    border-style: solid;
    box-shadow: 0 2px 4px rgb(0 0 0 / 42%);
}

/*margen catalogo*/
.catalogo_margen {
    width: 100%;
    height: 100%;
}

.contenedor-imagen {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0px 26px 26px;
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.margen_imagen {
    width: 50%;
    flex: 0 0 50%;
    display: flex;
    justify-content: center;

}

.imagen {
    width: 2550px;
    max-width: 100%;
    height: auto;     
}

.descripcion {
    flex: 1;
    min-width: 0; 
}

.marca {
    margin-top: 5px;
}
.titulo {
    margin-bottom: 10px;
}

.precio {
    margin: 20px 0px 10px 0px;
}

/*BOTONES*/
.boton {
    width: 100%;
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #007bff;
    transition: transform 0.3s ease-in-out;
    margin-top: 10px;
}

.boton:hover {
    background-color: #0056b3;
}

.boton:active {
    transform: scale(0.90);
}

.boton_carrito {
    width: 100%;
    border: none;
    color: #0056b3;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #007bff93;
    transition: transform 0.3s ease-in-out;
}

.boton_carrito:hover {
    background-color:#007bff54;
}

.boton_carrito:active {
    transform: scale(0.90);
}

.enlace {
    text-decoration: none;
    color:inherit;
}

.lista-despegable {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #CCC;
}

.detalles-lista {
    cursor: pointer;
    font-weight: bold;
}

.contenido-lista {
    padding: 10px 0;
}

.titulo-lista {
    cursor: pointer;
    font-weight: bold;
}

.contenido-lista p {
    margin: 0;
    width: 100%;
    overflow-wrap: break-word;
}

/*Sección de recomendados*/

.seccion-recomendados {
    max-width: 1450px;
    margin: 60px auto;
    padding: 0 20px;
}

.titulo-recomendado {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.productos {
    display: flex;
}

.tarjetas {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 15px;
    text-align: center;
    flex-direction: column;
    
}

.tarjetas img {
    width: 100%;
    border-radius: 20px;
}

.titulo-figura {
    margin: 5px 0;
}

.precio-figura {
    margin-bottom: 10px;;
}


/*footer*/

.footer {
    display: flex;
    justify-content: end;
    margin-top: 10%;
    background-color: #f0f8f7;

    border-top: 1px solid #0A4B3E;

}

.footer-contenido {
    display: flex;
    margin-right: 10vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    gap: 5vw;
}

.texto_del_footer {
    color: #0A4B3E;
    font-size: 1vw;
    margin: 2vh
}

.logo-footer {
    width: 11vw;
    height: 11vh;
    margin-top: 2vh;
}

.logo-footer-X {

    margin-top: 7vh;
}

.Derechos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}


.footer-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 40vw;
}