* {
    margin: 0px;

}

body {
    font-family: Ubuntu, Helvetica, sans-serif;

}


/*Header*/
.cabecera {
    background-color: #056C5C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.cabecera .font {
    color: #f5faf9;
    font-size: 1.5vw;
    font-weight: bold;
}

.logo {
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
}

.log-imagen {
    width: 12vw;
    height: 9.5vh;

}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-right: 0px;
    height: 10vh;
    width: 20vw;
}

.sub-navegacion {
    font-size: 1.2vw;
    color: #dcdcdc;

    cursor: pointer;
}

.buscador {
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    align-items: center
}

.buscador-input {
    flex: 1 1 auto;
    padding: 0 1vw;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: #060606;
    font-size: 10%;
    width: 10vw;
    height: 3vh;
    border: thin;
    outline: none;

}

.buscador-boton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    border: none;
    cursor: pointer;
    padding: 0;

}

.buscador-boton-imagen {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 18px;
    width: 100%;
    min-width: 15px;
    height: 3vh;
    background-color: #00201D;

}

.favoritos-carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-right: 1vw;
}

.carrito-imagen {
    height: 3.02vh;
    width: 1.41vw;
}


.favoritos {
    width: 1.53vw;
    height: 2.70vh;
}

.carrito-boton {
    width: 1.3vw;
    height: 1.7vh;
}

/*Header*/



.banner {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;

}

/*Parte de las figuras*/
.cajas {
    width: 20%;
    max-width: 100%;

    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    box-sizing: border-box;
    padding: 1%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;


}

.colecciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
    max-width: 100%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;

}

.figura {
    width: 100%;

}

.descripcion {
    text-size-adjust: calc(50%);
    text-decoration: none;
    color: inherit;
    font-size: 1.2vw;
}

.precio {
    font-weight: bold;
    color: #007bff;
    font-size: 1.5vw;
}

.agregar-al-carrito {
    max-width: 100%;

    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 7px;

}

.agregar-al-carrito button {
    height: 3.5vh;
    width: 100%;
    font-size: 7px;
    color: #f5faf9;
    background-color: #0A4B3E;
    border-radius: 15px;
    border: none;

}

.btn {
    cursor: pointer;

}

/*footer*/

.footer {
    display: flex;
    justify-content: bottom;
    margin-top: 10%;
    background-color: #0A4B3E;
    align-items: bottom;
}

.texto_del_footer {

    color: aliceblue;
    font-size: 9px;
    margin: 2vh
}

/*Thiago*/
/*NAV*/

.contenedor-mi-cuenta{
    display: flex;
    flex-wrap: nowrap;
}
.campo-nav{

    width: 27%;
    background-color: #F2F2F2;
    height: 70em;
}
.lista-secciones{
    padding: 50px 5px 5px 180px;
    display: flex;
    flex-direction: column;

}
.seleccion{
    width: 180px;
    padding: 0.5em 7em 0.5em 1em;
    background-color: #fff;
    border-left: 2px solid #000;
}
.secciones{
    width: 180px;
    padding: 0.5em 7em 0.5em 1em;
    background-color: #F2F2F2;
    
}

.secciones:hover{
    background-color: #ddd;
}
.seleccion:hover{
    background-color: #ddd;
}

.enlaces-nav{
    text-decoration: none ;
    font-family:monospace;
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
    
}
.imagen-nav{
    width: 16px;
    height: 16px;
    margin-right: 20px;
}
.cerrar-sesion{
    font-size: 1.1em;
    width: 130px;
    padding: 1em 7em 1em 20px;
    text-decoration: underline;
    text-decoration-color: #aaa ;
}
.cerrar-sesion:hover{
    text-decoration-color: #000 ;
}
/*mi cuenta*/
.mi-cuenta{
    font-family: monospace;
}
.mini-encabezado{
    margin: 30px 40px 5px 40px;
    padding: 10px;
}
.cajas-con-sombras{
    background-color: #F2F2F2 ;
    margin: 30px 40px 5px 40px;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px #777;
}
.editar{
    position: absolute;
    top: 9px;
    right: 10px;
    background-color: none;
    border: 2px solid #11917d;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    color: #11917d;
    width: 80px;
    height: 25px;
    display: flex;
    flex-direction: row;
}
.editar:hover{
    color: #056C5C;
    border-color: #056C5C;
}
.imagen-editar{
    width: 8px;
    margin-left:11px;
    margin-right: 8px;
}

/*MIS FAVORITOS*/

.imagen-producto-favorito{
    width: 200px;
}
.eliminar-img{
    width: 10px;
}